//params.cores = 2
//params.memory_per_core = 20
docker.enabled = true

process {
  withLabel: ss {
    containerOptions = '-v params.ddir:params.ddir -v params.rdir:params.rdir'
  }

  withLabel: r {
    containerOptions = "-v ${params.ddir}:${params.ddir} -v ${params.pdir}:${params.pdir}"
  }
}


